# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
node_modules/
*.egg-info/
.installed.cfg
*.egg
*.pyc
__init__.pyc
__pycache__

# Serverless directories
.serverless
.idea/
.vscode
__pycache__/
venv/
.DS_Store
.github
